@import "tailwindcss";
html,
body,
#root {
    height: 100%;
}


/* small helpers */

.fade-enter {
    opacity: 0;
    transform: translateY(6px);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 220ms ease;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 180ms ease;
}